.contacts {
  padding: 20px 0;
  background-color: var(--color-secondary);
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;

  &__link {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;
    color: var(--color-light);

    svg {
      // width: 70px;
      // height: 70px;
      width: 40px;
      height: 40px;
    }
  }
}
