.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 20px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  @include small-tablet {
    padding: 10px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
  }

  &__subtitle {
  font-size: 20px;
    color: var(--color-light);

    @include small-tablet {
      display: none;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;

  &__link {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;
    color: var(--color-light);

    svg {
      // width: 70px;
      // height: 70px;
      width: 40px;
      height: 40px;
      transition: transform 0.3s;
    }

    @include hover {
      text-decoration: underline;

      svg {
        transform: scale(1.1);
      }
    }
  }
}


