<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Привет, меня зовут Максим <br>
        <span>
          я веб-разработчик,<br>
          занимаюсь версткой сайтов
        </span>
      </h1>
      <img class="hero__image" width="600" height="227" src="img/stack.png" alt="html css js">
    </div>
    <div class="hero__works">
      <button class="btn-reset hero__works-btn" type="button">Мои работы</button>
    </div>
  </div>
</section>
