<section class="works">
  <div class="container">
    <h2 class="works__title title">Мои работы</h2>
    <div class="works__content grid">
      <article class="works__article">
        <a class="works__img-link" href="https://touristo.maxtrod.ru/">
          <img class="works__img" src="img/touristo.jpg" width="570" height="400" loading="lazy" alt="Сайт touristo">
          <div class="works__labels">
            <span class="works__label works__label--pages">Одностраничный</span>
          </div>
        </a>
        <div class="works__body">
          <h3 class="works__subtitle">
            <a class="works__subtitle-link" href="https://touristo.maxtrod.ru/">
              Сайт для заказа путевок по различным направлениям.
            </a>
          </h3>
          <p class="works__text">
            На главном экране реализованы выпадащий список с выбором стран
            а также расширенное меню - календарь, чекбокс, слайдер-ползунок с продолжительностью пребывания,
            выпадающее меню с выбором количества путешественников. Также присутствует: модальное окно в шапке сайта,
            слайдер с возможностью фильтрации, звездный рейтинг
          </p>
        </div>
      </article>
      <article class="works__article">
        <a class="works__img-link" href="https://growfy.maxtrod.ru/">
          <img class="works__img" src="img/growfy.jpg" width="570" height="400" loading="lazy" alt="Сайт growfy">
          <div class="works__labels">
            <span class="works__label works__label--pages">Одностраничный</span>
            <span class="works__label works__label--pages">Анимации</span>
            <span class="works__label works__label--pages">Кастомный курсор</span>
          </div>
        </a>
        <div class="works__body">
          <h3 class="works__subtitle">
            <a class="works__subtitle-link" href="https://growfy.maxtrod.ru/">
              Лендинг дизайнерской компании
            </a>
          </h3>
          <p class="works__text">
            Простые анимации появления, управление слайдером при помощи курсора, выпадающее меню при наведении
          </p>
        </div>
      </article>
      <article class="works__article">
        <a class="works__img-link" href="https://ofdr.maxtrod.ru/">
          <img class="works__img" src="img/ofdr.jpg" width="570" height="400" loading="lazy" alt="Сайт ofdr">
          <div class="works__labels">
            <span class="works__label works__label--pages">Многостраничный</span>
          </div>
        </a>
        <div class="works__body">
          <h3 class="works__subtitle">
            <a class="works__subtitle-link" href="https://ofdr.maxtrod.ru/">
              Сайт центра профессиональной дистанционной переподготовки кадров.
            </a>
          </h3>
          <p class="works__text">
            Реализованы многоуровневое меню и спойлеры при адаптиве, различные слайдеры, галерея
          </p>
        </div>
      </article>
      <article class="works__article">
        <a class="works__img-link" href="https://travellian.maxtrod.ru/">
          <img class="works__img" src="img/travellian.jpg" width="570" height="400" loading="lazy" alt="Сайт travellian">
          <div class="works__labels">
            <span class="works__label works__label--pages">Одностраничный</span>
            <span class="works__label works__label--type">Анимации</span>
          </div>
        </a>
        <div class="works__body">
          <h3 class="works__subtitle">
            <a class="works__subtitle-link" href="https://travellian.maxtrod.ru/">
              Сайт для заказа путевок.
            </a>
          </h3>
          <p class="works__text">
            Реализована booking форма - выпадащий список с выбором стран, календарь с выбором даты путешествия,
            слайдеры, переход по секциям сайта из шапки, галерея, звездный рейтинг, анимации появления
          </p>
        </div>
      </article>
      <article class="works__article">
        <a class="works__img-link" href="https://simplefood.maxtrod.ru/">
          <img class="works__img" src="img/simplefood.jpg" width="570" height="400" loading="lazy" alt="Сайт simplefood">
          <div class="works__labels">
            <!-- <span class="works__label works__label--type">Лендинг</span> -->
            <span class="works__label works__label--pages">Многостраничный</span>
            <span class="works__label works__label--type">Интернет магазин</span>
          </div>
        </a>
        <div class="works__body">
          <h3 class="works__subtitle">
            <a class="works__subtitle-link" href="https://simplefood.maxtrod.ru/">
              Интернет магазин продуктовой компании
            </a>
          </h3>
          <p class="works__text">
            Реализованы каталог товаров, слайдер цены, кастомные чекбоксы, селекты, выбор количества продуктов,
            галерея продукта, табы, слайдеры, звездный рейтинг
          </p>
        </div>
      </article>
      <article class="works__article">
        <a class="works__img-link" href="https://interia.maxtrod.ru/">
          <img class="works__img" src="img/interia.jpg" width="570" height="400" loading="lazy" alt="Сайт interia">
          <div class="works__labels">
            <span class="works__label works__label--pages">Одностраничный</span>
            <span class="works__label works__label--type">Анимации</span>
          </div>
        </a>
        <div class="works__body">
          <h3 class="works__subtitle">
            <a class="works__subtitle-link" href="https://interia.maxtrod.ru/">
              Сайт студии дизайна интерьера
            </a>
          </h3>
          <p class="works__text">
            Минималистичный сайт с анимациями появления ,красивой галереей и эффектами при наведении
          </p>
        </div>
      </article>
      <article class="works__article">
        <a class="works__img-link" href="https://thebox.maxtrod.ru/">
          <img class="works__img" src="img/thebox.jpg" width="570" height="400" loading="lazy" alt="Сайт thebox">
          <div class="works__labels">
            <span class="works__label works__label--pages">Одностраничный</span>
            <span class="works__label works__label--type">Анимации</span>
          </div>
        </a>
        <div class="works__body">
          <h3 class="works__subtitle">
            <a class="works__subtitle-link" href="https://thebox.maxtrod.ru/">
              Сайт-визитка строительной компании
            </a>
          </h3>
          <p class="works__text">
            Реализован двойной слайдер на главном экране, слайдер внутри фильтра c плавной анимацией переключения между фильтрами,
            скролл по секциям страницы из шапки, красивые анимации появления
          </p>
        </div>
      </article>
      <article class="works__article">
        <a class="works__img-link" href="https://abigail.maxtrod.ru/">
          <img class="works__img" src="img/abigail.jpg" width="570" height="400" loading="lazy" alt="Сайт abigail">
          <div class="works__labels">
            <span class="works__label works__label--pages">Одностраничный</span>
            <span class="works__label works__label--type">Параллакс</span>
          </div>
        </a>
        <div class="works__body">
          <h3 class="works__subtitle">
            <a class="works__subtitle-link" href="https://abigail.maxtrod.ru/">
              Сайт портфолио
            </a>
          </h3>
          <p class="works__text">
            Реализован параллакс эффект при движении мыши, бегущая строка
          </p>
        </div>
      </article>
      <article class="works__article">
        <a class="works__img-link" href="https://furniture.maxtrod.ru/">
          <img class="works__img" src="img/furniture.jpg" width="570" height="400" loading="lazy" alt="Сайт furniture">
          <div class="works__labels">
            <span class="works__label works__label--pages">Одностраничный</span>
          </div>
        </a>
        <div class="works__body">
          <h3 class="works__subtitle">
            <a class="works__subtitle-link" href="https://furniture.maxtrod.ru/">
              Сайт мебельной фурнитуры
            </a>
          </h3>
          <p class="works__text">
            Реализован прелоадер, кастомный курсор, выпадающее меню и поиск, фильтр товаров
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
