// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Lora";
  --second-family: "Museo", sans-serif;
  --content-width: 1750px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-main: #495057;
  --color-bg: #F8F9FA;
  --color-secondary: #343A40;
  --color-light: #fff;

  // focus
  --outline: 1px dashed currentColor;
  --outlineOffset: 3px;
}
